/*
 * @theme slides
 * @auto-scaling true
 */
@import 'default';

* {
  font-family: "Ellograph CF";
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.2;
}

section {
  width: 960px;
  height: 720px;
}

samp {
  font-family: "Ellograph CF";
  font-weight: 600;
}
