body {
  font-family: "Ellograph CF", mono;
  font-style: Italic;
  font-weight: Demi Bold;
  color: #fefefe;
  background-color: #081320;
}
h1 {
  position: relative;
  top: 10px;
  text-align: center;
  text-decoration: underline;
}
a {
  display: block;
  width: fit-content;
  margin: 6px auto 6px auto;
  padding: 4px 18px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: #dedede;

}
  a:hover {
    background-color: #1f2b3a;
    transition: .3s ease;
  }





.page-wrap {
  position: relative;
  width: 78%;
  margin: 0 auto;
  min-width: 602px;
  max-width: 702px;
  height: calc(100vh - 40px);
  min-height: 560px;
}


.head-wrap {
  position: relative;
  width: auto;
  height: 300px;
}
.bookmark-link-wrap {
  position: absolute;
  top: 10vh;
  left: 65px;
  width: 200px;
  height: 100px;
}
.bookmark-link {
  position: relative;
  top: calc(50% - 25px);
  height: 30px;
  opacity: 0;
  transition: .3s ease-out;
}

.bookmark-link-wrap:hover .bookmark-link {
  opacity: 1;
}
.datetime {
  position: relative;
  top: calc(10vh + 120px);
  left: 40px;
}
.date {
  position: relative;
  left: 10.5%;
  font-size: 1.3em;
}
.time {
  position: relative;
  left: 8%;
  font-size: 2.5rem;
}

.image-wrap {
  position: absolute;
  right: 12%;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
.circle {
  width: 240px;
  height: 240px;
  border: 2px solid #1b2634;
  border-radius: 50%;
}
.circle-background {
  position: absolute;
  width: 234px;
  height: 234px;
  margin: 3px;
  border-radius: 50%;
  background-color: #2a2f38;
  opacity: 0;
  transition: .15s ease;
}
.image {
  width: inherit;
  height: inherit;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 3px;
}
.fell {
  position: relative;
  bottom: calc(120px + 1rem);
  background-color: #15202e;
  font-size: .9rem;
  width: 60px;
  height: 1.2rem;
  padding: .4rem 8px;
  opacity: 0;
  transition: .4s ease;
}


.image-wrap:hover .circle-background {
  opacity: 0.87;
}
.image-wrap:hover .fell {
  opacity: 1;
}




.block {
  color: inherit;
  background-color: #15202e;
  box-shadow: 5px 5px 6px #000c18;
  box-sizing: border-box;
  border-radius: 5% / 4%;
  border: 3px solid #1d2834;
}
.block-header {
  display: block;
  padding-bottom: 6px;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: underline;
}




.link-wrap {
  position: relative;
  top: 10vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.link-block {
  padding: 12px 6px;
  width: 175px;
  height: 200px;
}
.link-1 {
  position: relative;
  left: 8%;
  grid-column: 1;
}
.link-2 {
  grid-column: 2;
}
.link-3 {
  position: relative;
  right: 8%;
  grid-column: 3;
}




.bookmark-wrap {
  position: relative;
  top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.bookmark-block {
  padding: 12px 6px;
  width: 180px;
  height: 320px;
}
.bookmark-1 {
  position: relative;
  left: 8%;
  grid-column: 1;
}
.bookmark-2 {
  grid-column: 2;
}
.bookmark-3 {
  position: relative;
  right: 8%;
  grid-column: 3;
}
