err() { printf '%s: %s\n' "$1" "$2" 1>&2; }

aoc-input() {
  if [[ -z $AOC_SESSION ]]; then
    err aoc-input 'AOC_SESSION not set'
    return 1
  fi

  typeset BASH_REMATCH=() # prevent persistence between calls
  typeset year= day=
  if [[ $1 =~ ([[:digit:]]+)?/([[:digit:]]+) ]]; then
    year=${BASH_REMATCH[1]:-`date +%Y`}
    day=${BASH_REMATCH[2]}
  else
    year=`date +%Y`
    day=`date +%d`
    day=${day#0}
  fi

  [[ -t 1 || -p /dev/stdout ]] \
    && printf "\e[1;38;5;6m::\e[0m fetching input for $year/$day...\n" >&2
  curl -s -H "Cookie:${AOC_SESSION:-;}" https://adventofcode.com/$year/day/$day/input
}

j() {
  typeset j=`jump $@`
  typeset exit=$?
  (( $exit != 0 )) && return $exit

  if [[ $j =~ ^cd ]]; then
    eval $j
  else
    [[ -n $j ]] && printf '%s\n' "$j"
  fi
}

aur-remove() {
  if (( $# == 0 )); then
    err aur-remove 'no package provided'
    return 1
  fi

  while read -r; do
    typeset base="${REPLY%/*}"
    repo-remove "$REPLY" "$@"

    if [[ -z $base ]]; then
      err aur-remove "\$base is empty, skipping clean for $REPLY"
      continue
    fi
    paccache -c "$base" -rvk0 "$@" && printf '==> %s\n' 'cache clean'

    for p in "$@"; do
      rm "$base"/"$p"-*.pkg.tar.zst && printf '==> %s\n' 'package clean'
      rm -rf "${base%/*}/build/$p" && printf '==> %s\n' 'build files clean'
    done
  done < <(aur repo --list-path)
}

ping() {
  /usr/bin/ping -c1 ${1:-archlinux.org}
}

alias e='eza'
alias ed='eza -ld'
alias el='eza -la'
alias v=$EDITOR
alias yeet='doas pacman -Qtdq | doas pacman -Rns -'
alias xo='xdg-open'
alias zt='zathura --fork'

sconf='$XDG_CONFIG_HOME/{sxhkd/sxhkdrc,bspwm/sxhkdrc.bspwm} $XDG_CONFIG_HOME/sxhkd/sxhkdrc'
if [[ $MACHINE = DT ]]; then
  sconf="${sconf}.dt"
  dconf=
else
  sconf="${sconf}.lt"
  dconf='-conf $HOME/.config/dunst/dunstrc.lt' 
  alias netstart='rfkill unblock wifi; doas systemctl start NetworkManager'
  alias netstop='nmcli d disconnect wlan0; doas systemctl stop NetworkManager; rfkill block wifi'
fi
alias dcr="pkill dunst; dunst $dconf &; disown dunst"
alias scr="pkill sxhkd; sxhkd $sconf &; disown sxhkd"
unset {d,s}conf

[[ -f $HOME/.aliases_novcs ]] && . $HOME/.aliases_novcs
