err() { printf '%s: %s\n' "$1" "$2" 1>&2; }

ct() {
  local bin

  if [[ $1 == -b ]]; then
    bin=--bin
    shift
  fi

  cargo test $bin $@ -- ${CPT+--nocapture}
}

j() {
  local j exit
  j=`jump $@`

  exit=$?
  (( $exit != 0 )) && return $exit

  [[ $j =~ ^cd ]] && eval $j || printf '%s\n' "$j"
}

owns() {
  local fn=owns program=`command -v $1`
  [[ -z $1 ]] && { err $fn 'no command specified!'; return 1; }
  [[ -z $program ]] \
    && { err $fn "$1 not found!"; return 1; } \
    || pacman -Qo $program
}

pac() {
  local root
  if [[ $1 =~ '^[rR]$' ]]; then
    root=/usr/bin/doas
    [[ ! -f $root ]] && root=${root%/*}/sudo
    shift
  fi
  [[ $1 =~ '^[cC]$' ]] && { pacman -Q | wc -l; return 0; }
  $root pacman -$1 ${@:2}
}

ping() {
  /usr/bin/ping -c1 ${1:-archlinux.org}
}

ud2() {
  local fn=ud2 dev=/dev/$1 un
  [[ -b $dev ]] || { err $fn "${1:--} is not a valid blockdev."; return 1; }
  [[ -n `udisksctl info -b $dev | grep -oP '^\s*MountPoints:\s+\K.*$'` ]] \
    && un=un
  udisksctl ${un}mount -b $dev
}

wnvm() {
  local fn=wnvm root=pom.xml mvnw=./mvnw
  pushd $PWD &>/dev/null
  until [[ $PWD == / || -f ./$root ]]; do cd ..; done
  [[ $PWD == / ]]\
    && { err $fn 'no maven root found.'; popd &>/dev/null; return 1; }
  [[ -f ./mvnw ]] && ./mvnw $@ || mvn $@
  popd &>/dev/null
}

alias -- -='cd -'
alias code='code --extensions-dir "$XDG_DATA_HOME/vscode"'
alias cb='cargo run --bin $@'
alias e='eza'
alias e1='eza -1'
alias ed='eza -ld'
alias el='eza -la'
alias ex='exec $SHELL'
alias v=$EDITOR
alias yeet='doas pacman -Qtdq | doas pacman -Rns -'
alias xo='xdg-open'
alias zt='zathura --fork'


sconf='$HOME/.config/bspwm/sxhkdrc.bspwm $HOME/.config/sxhkd/sxhkdrc.'
if [[ $MACHINE = DT ]]; then
  sconf="${sconf}dt"
  dconf=''
else
  sconf="${sconf}lt"
  dconf='-conf $HOME/.config/dunst/dunstrc.lt' 
  alias netstart='rfkill unblock wifi; doas systemctl start NetworkManager'
  alias netstop='nmcli d disconnect wlan0; doas systemctl stop NetworkManager; rfkill block wifi'
fi
alias dcr="pkill dunst; dunst $dconf &; disown dunst"
alias scr="pkill sxhkd; sxhkd $sconf &; disown sxhkd"
unset {d,s}conf

[[ -f $HOME/.aliases_novcs ]] && . $HOME/.aliases_novcs
