alias -- -='z -'
alias dcr='pkill dunst; dunst &; disown dunst'
alias dots='z ~/Git/Dotfiles/source'
alias e='exa'
alias e1='exa -1'
alias el='exa -la'
alias gcheck='git checkout'
alias gcomm='git commit'
alias gpush='git push'
alias gpull='git pull'
alias gstat='git status'
alias hist='tail -10 <(history)'
alias hml='himalaya'
alias less='less -cmNS'
alias lock='slock &'

if [ $MACHINE = 'LT' ]; then
  alias netstart='rfkill unblock wifi; doas systemctl start NetworkManager iwd'
  alias netstop='doas systemctl stop NetworkManager iwd; rfkill block wifi'
fi
alias orphan-remove='doas pacman -Qtdq | doas pacman -Rns -'
alias pquery='pacman -Q | rg $1 2>/dev/null'
alias pcount='pacman -Q | wc -l'
alias ping='ping -c1 "${1:-archlinux.org}"'
alias scr='pkill sxhkd; sxhkd &; disown sxhkd'
alias um='udisksctl mount -b /dev/sdd1'   # not particularly smart
alias uu='udisksctl unmount -b /dev/sdd1' # not particularly smart either
alias v='nvim'
alias va='nvim ~/.aliases && source ~/.aliases'

