Err() { printf 'Error: %s\n' "$1" 1>&2 }

Ping=$(command -v ping)
ping() {
  $Ping -c1 ${1:-archlinux.org}
}

owns() {
  [[ -z $1 ]] && { Err 'No command specified!'; return 1; }
  Program=`command -v $1`
  [[ -z $Program ]] \
    && { Err "$1 not found!"; return 1; } \
    || pacman -Qo $Program
}

ud2() {
  Dev=/dev/$1
  [[ -b $Dev ]] || { Err "${1:--} is not a valid blockdev."; return 1; }
  if [[ -z `udisksctl info -b $Dev | grep -oP '^\s*MountPoints:\s+\K.*$'` ]]; then
    udisksctl mount -b $Dev
  else
    udisksctl unmount -b $Dev
  fi
}


alias -- -='cd -'
alias code='code --extensions-dir '$XDG_DATA_HOME'/vscode'
alias dots='cd ~/Git/Dotfiles/'
alias e='exa'
alias e1='exa -1'
alias ed='exa -ld'
alias el='exa -la'
alias gff='nff ~/Git'
alias gl='glow -p'
alias hist='tail -10 <(history)'
alias psearch='pacman -Ss $1'
alias pquery='pacman -Q | rg -i $1'
alias pcount='pacman -Q | wc -l'
alias scripts='cd ~/Git/Scripts/'
alias v=$EDITOR
alias va=$EDITOR' ~/.aliases && source ~/.aliases'
alias yeet='doas pacman -Qtdq | doas pacman -Rns -'
alias zt='zathura --fork'


Sconf='~/.config/bspwm/sxhkdrc.bspwm ~/.config/sxhkd/sxhkdrc.'
if [[ $MACHINE = 'DT' ]]; then
  Sconf="${Sconf}dt"
  Dconf=''
else
  Sconf="${Sconf}lt"
  Dconf='-conf ~/.config/dunst/dunstrc.lt' 
  alias netstart='rfkill unblock wifi; doas systemctl start NetworkManager iwd'
  alias netstop='doas systemctl stop NetworkManager iwd; rfkill block wifi'
fi
alias dcr="pkill dunst; dunst $Dconf &; disown dunst"
alias scr="pkill sxhkd; sxhkd $Sconf &; disown sxhkd"
unset {D,S}conf

[[ -f $HOME/.aliases_novcs ]] && . $HOME/.aliases_novcs
