Ping() {
  ping -c1 "${1:-archlinux.org}"
}

alias -- -='z -'

if [ $MACHINE = 'LT' ]; then
  Conf='-conf ~/.config/dunst/dunstrc.lt' 
fi
alias dcr="pkill dunst; dunst $Conf &; disown dunst"

alias dots='z ~/Git/Dotfiles/'
alias e='exa'
alias e1='exa -1'
alias el='exa -la'
alias hist='tail -10 <(history)'
alias hml='himalaya'
alias less='less -cmNS'
alias lock='slock &'

if [ $MACHINE = 'LT' ]; then
  alias netstart='rfkill unblock wifi; doas systemctl start NetworkManager iwd'
  alias netstop='doas systemctl stop NetworkManager iwd; rfkill block wifi'
fi

alias orphan-remove='doas pacman -Qtdq | doas pacman -Rns -'
alias pquery='pacman -Q | rg $1 2>/dev/null'
alias pcount='pacman -Q | wc -l'
alias ping=Ping

Conf='~/.config/sxhkd/sxhkdrc.'
if [ $MACHINE = 'DT' ]; then
  Conf="${Conf}dt"
else
  Conf="${Conf}lt"
fi
alias scr="pkill sxhkd; sxhkd $Conf &; disown sxhkd"

alias scripts='z ~/Git/Scripts/'
alias um='udisksctl mount -b /dev/sdd1'   # not particularly smart
alias uu='udisksctl unmount -b /dev/sdd1' # not particularly smart either
alias v='nvim'
alias va='nvim ~/.aliases && source ~/.aliases'
alias zath='zathura --fork'

